.mainContainer {
    text-align: center;

}

.traitField * {
    display: inline-block;
    margin: 10px 8px;
}

.fieldsContainer {
    margin: 50px auto;
}

.inputField {
    border: 2px solid #26577C;
    border-radius: 5px;
    margin: 10px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .responseContainer {
    margin-top: 50px;
  }