.pageContainer {
    height: 175vh;
    margin: 0;
    position: relative;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
