

.footerContainer {
    border-radius: 2px;
    background-color: #EBE4D1;

}

@media screen and (min-width: 375px) {}

@media screen and (min-width: 481px) {}

@media screen and (min-width: 769px) {

    .footerContainer {
        height: 20%;
    }
}

@media screen and (min-width: 1025px) {}